body {
    color: #353535;

}

.board {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.status-col {
    align-items: center;
    width: 250px;
    min-height: 600px;
    padding: 10px;
    display: block;
    transition: 0.8s;
    border-radius: 2px;
    margin: 0 5px;
    background-color: black;
}

.task {
    margin: 0 auto 10px;
    background-color: grey;
    max-width: 100%;
    height: 40px;
    text-decoration-color: white;
}
.header {
    margin: 0 auto 10px;
    background-color: grey;
    max-width: 100%;
    height: 40px;
    text-decoration-color: white;
}

.text {
    alignment: center;
    color: white;
    text-align: center;

}


.min-h-100 {
    min-height: 100px;
}

.icon {
    cursor: pointer;
    transition: 0.3s;
    padding: 8px;
    font-size: 18px;
}

.icon:hover {
    background-color: #bee1ff;
}
